*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.catalog{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.catalog-card{
    display: flex;
    flex-direction: column;

    width: 300px;
    margin: 10px;
}
.card-image{
    background-image: url('');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 500px;
}

.review{
    width: 20%;
    border-radius: 50%;
    padding: 15px;
    background-color: white;
    font-size: 24px;
}

.card-text{
    display: flex;
    flex-direction: column;
}

.review-green{
    border: 2px solid green;
    color: green;
}
.review-red{
    border: 2px solid red;
    color: red;
}
.review-orange{
    border: 2px solid orange;
    color: orange;
}